body {
    background-image: url(image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(233, 200, 200, 0.3), rgba(0, 0, 0, 0.6));
    min-height: 100vh;
}
#header {
    display: flex;
    justify-content: center;
    margin: 30px;
}
#input {
    background-color: rgba(142, 127, 161, 0.3);
    border-radius: 20px;
    border: 3px solid #CDF3A2;
    padding: 15px;
    font-size: 20px;
}
/* чтобы в input менялся цвет, когда кликаешь внутрь: */
#input:focus {
    background-color: #fff;
}
#when-where {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#city {
    color: #FFF;
    font-size: 45px;
}
#date {
    color: #FFF;
    font-size: 24px;
}
#now {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SHADOW:
https://www.w3schools.com/cssref/playit.asp?filename=playcss_text-shadow */

#temperature {
    color: #FFF;
    font-size: 110px;
    text-shadow: 5px 10px black;
    font-weight: bold;
    /* чтобы удалить ненужное пространство, ставим margin на 0 */
    margin: 0;
}
#feelsLike {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
#conditions {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}
#variation {
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
}