body {
    background-image: url(image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(233, 200, 200, 0.3), rgba(0, 0, 0, 0.6));
    min-height: 100vh;
}
#header {
    display: flex;
    justify-content: center;
    margin: 30px;
}
#input {
    background-color: rgba(142, 127, 161, 0.3);
    border-radius: 20px;
    border: 3px solid #CDF3A2;
    padding: 15px;
    font-size: 20px;
}
/* чтобы в input менялся цвет, когда кликаешь внутрь: */
#input:focus {
    background-color: #fff;
}
#when-where {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#city {
    color: #FFF;
    font-size: 45px;
}
#date {
    color: #FFF;
    font-size: 24px;
}
#now {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SHADOW:
https://www.w3schools.com/cssref/playit.asp?filename=playcss_text-shadow */

#temperature {
    color: #FFF;
    font-size: 110px;
    text-shadow: 5px 10px black;
    font-weight: bold;
    /* чтобы удалить ненужное пространство, ставим margin на 0 */
    margin: 0;
}
#feelsLike {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
#conditions {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}
#variation {
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
}
@media all and (max-width: 1030px){
    #header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #city {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #feelsLike {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #conditions {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #temperature {
        font-size: 95px;
    }
}
@media all and (max-width: 920px) and (max-height: 1400px){
    #header {
        margin: 40px;
    }
    #input {
        padding: 20px;
        font-size: 36px;
    }
    #city {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 65px;
    }
    #date {
        font-size: 35px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #temperature {
        font-size: 130px;
    }
    #feelsLike, #conditions {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 40px;
    }
    #variation {
        font-size: 35px;
    }
}
@media all and (max-width: 800px){
    #input {
        padding: 15px;
        font-size: 24px;
    }
    #city {
        font-size: 65px;
}
    #date {
        font-size: 28px;
    }
}
@media all and (max-width: 650px) and (max-height: 380px){
     #input {
        padding: 10px;
        font-size: 16px;
    }
    #header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #city {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #feelsLike {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #date {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
}
    #temperature {
        font-size: 40px;
        text-shadow: 1px 3px black;
    }
    #conditions {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #variation {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 550px){
    #city {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #input {
        padding: 10px;
        font-size: 20px;
    }
    #header {
        margin: 30px;
    }
    #date {
        margin: 20px;
        font-size: 32px;
    }
    #temperature {
        font-size: 90px;
        text-shadow: 3px 7px black;
    }
    #feelsLike, #conditions, #variation {
        margin: 30px;
        font-size: 30px;
    }
}
@media all and (max-width: 450px){
    #city {
        font-size: 55px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #temperature {
        font-size: 90px;
        text-shadow: 3px 7px black;
    }
    #feelsLike {
        font-size: 26px;
    }
    #conditions {
        font-size: 28px;
    }
    #variation {
        font-size: 22px;
    }
}
@media all and (max-width: 430px){
    #city {
        font-size: 45px;
    }
}
@media all and (max-width: 360px){
    #city {
        font-size: 35px;
    }
    #header {
        margin: 25px;
    }
}
@media all and (max-width: 320px){
    #city {
        margin: 20px;
    }
    #header {
        margin: 25px;
    }
    #temperature {
        font-size: 80px;
    }
    #feelsLike, #conditions, #variation {
        margin: 25px;
        font-size: 24px;
    }
}
@media all and (max-width: 250px){
    #input {
        padding: 5px;
        font-size: 10px;
    }
    #header {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #city {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #date {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #temperature {
        font-size: 50px;
        text-shadow: 1px 2px black;
    }
    #feelsLike {
        font-size: 14px;
        margin: 20px;
    }
    #conditions {
        font-size: 14px;
        margin: 10px;
    }
    #variation {
        font-size: 14px;
        margin: 10px;
    }
}